In [175]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [176]:
best_parameters = gscv.best_params_
# best_parameters

In [177]:
traindata = pd.read_csv('Train.csv')
riders = pd.read_csv('Riders.csv')

In [178]:
traindata.shape

(21201, 29)

In [179]:
testdata = traindata[5000:].reset_index(inplace = False)
testdata.drop(columns='index', inplace=True)

In [180]:
test

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),...,Arrival at Destination - Time,Distance (KM),Temperature,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id,Time from Pickup to Arrival
0,Order_No_5073,User_Id_2200,Bike,3,Business,25,4,4:18:56 PM,25,4,...,6:22:17 PM,8,NaN,NaN,-1.301446,36.766138,-1.290894,36.822971,Rider_Id_436,1861
1,Order_No_16569,User_Id_972,Bike,3,Business,3,1,12:28:16 PM,3,1,...,2:34:37 PM,15,20.7,NaN,-1.286203,36.815297,-1.308100,36.699964,Rider_Id_272,5216
2,Order_No_17965,User_Id_2587,Bike,3,Business,5,5,4:50:48 PM,5,5,...,5:59:46 PM,22,26.2,NaN,-1.288780,36.816831,-1.316554,36.700067,Rider_Id_456,1997
3,Order_No_20647,User_Id_2483,Bike,1,Business,16,1,12:33:26 PM,16,1,...,1:53:55 PM,12,19.4,NaN,-1.255956,36.789867,-1.284269,36.739776,Rider_Id_536,3949
4,Order_No_23907,User_Id_1502,Bike,3,Business,19,1,9:33:17 AM,19,1,...,10:13:15 AM,13,19.4,NaN,-1.223212,36.893255,-1.275285,36.802702,Rider_Id_447,2107
5,Order_No_13619,User_Id_412,Bike,3,Business,20,3,2:46:37 PM,20,3,...,3:19:29 PM,7,29.6,NaN,-1.303596,36.778378,-1.266837,36.799249,Rider_Id_71,965
6,Order_No_18033,User_Id_1246,Bike,3,Business,14,2,9:59:36 AM,14,2,...,10:34:07 AM,8,15.7,NaN,-1.257147,36.795063,-1.281756,36.763556,Rider_Id_452,1215
7,Order_No_19629,User_Id_3517,Bike,3,Business,2,2,2:07:07 PM,2,2,...,3:27:01 PM,15,29.4,NaN,-1.300921,36.828195,-1.388201,36.769945,Rider_Id_595,1859
8,Order_No_15465,User_Id_267,Bike,3,Personal,11,2,11:33:01 AM,11,2,...,12:18:51 PM,3,24.3,NaN,-1.283311,36.824024,-1.298575,36.808800,Rider_Id_338,2108
9,Order_No_24354,User_Id_1148,Bike,3,Business,7,4,3:34:48 PM,7,4,...,5:03:42 PM,3,29.4,NaN,-1.310059,36.850033,-1.312071,36.856786,Rider_Id_787,860
10,Order_No_24112,User_Id_1584,Bike,3,Business,7,3,2:04:37 PM,7,3,...,3:56:00 PM,7,28.4,NaN,-1.284202,36.828114,-1.304033,36.784869,Rider_Id_554,2081
11,Order_No_14158,User_Id_1133,Bike,3,Business,15,3,2:34:54 PM,15,3,...,2:52:01 PM,3,25.7,NaN,-1.268126,36.788234,-1.257147,36.795063,Rider_Id_520,544
12,Order_No_3853,User_Id_1527,Bike,3,Business,17,5,3:45:20 PM,17,5,...,4:50:49 PM,5,NaN,NaN,-1.277071,36.823109,-1.300406,36.829741,Rider_Id_291,1511
13,Order_No_443,User_Id_2857,Bike,3,Business,18,1,12:53:15 PM,18,1,...,1:39:10 PM,7,NaN,NaN,-1.303407,36.821803,-1.268362,36.806599,Rider_Id_949,1395
14,Order_No_4573,User_Id_295,Bike,3,Business,18,2,11:36:28 AM,18,2,...,3:29:30 PM,8,25.5,NaN,-1.296711,36.787114,-1.262285,36.789399,Rider_Id_942,4974
15,Order_No_26404,User_Id_393,Bike,3,Business,24,3,10:28:54 AM,24,3,...,11:07:41 AM,4,NaN,NaN,-1.316711,36.830156,-1.300406,36.829741,Rider_Id_515,2
16,Order_No_12519,User_Id_3222,Bike,3,Business,13,3,12:11:40 PM,13,3,...,12:42:21 PM,6,NaN,NaN,-1.255189,36.782203,-1.286995,36.820275,Rider_Id_764,1209
17,Order_No_24290,User_Id_2008,Bike,3,Business,18,5,12:35:07 PM,18,5,...,1:29:55 PM,17,20.2,NaN,-1.250823,36.789526,-1.248238,36.667378,Rider_Id_882,2202
18,Order_No_3151,User_Id_3283,Bike,3,Business,11,2,1:27:53 PM,11,2,...,2:14:36 PM,5,22.4,NaN,-1.260093,36.808869,-1.262847,36.781805,Rider_Id_38,935
19,Order_No_66,User_Id_393,Bike,3,Business,3,5,1:59:39 PM,3,5,...,2:57:31 PM,11,NaN,NaN,-1.316711,36.830156,-1.263818,36.793006,Rider_Id_619,2
20,Order_No_6083,User_Id_346,Bike,3,Business,22,5,11:53:13 AM,22,5,...,1:14:23 PM,14,NaN,NaN,-1.286018,36.897534,-1.288780,36.816831,Rider_Id_569,2848
21,Order_No_10955,User_Id_2521,Bike,3,Business,26,6,10:15:51 AM,26,6,...,10:29:13 AM,4,20.6,NaN,-1.316711,36.830156,-1.300406,36.829741,Rider_Id_523,411
22,Order_No_1408,User_Id_706,Bike,3,Business,14,1,3:59:34 PM,14,1,...,4:25:04 PM,3,25.6,NaN,-1.307787,36.844321,-1.308009,36.828454,Rider_Id_781,421
23,Order_No_12402,User_Id_2939,Bike,2,Personal,25,5,4:29:38 PM,25,5,...,5:32:33 PM,8,21.2,NaN,-1.270187,36.774568,-1.276479,36.819479,Rider_Id_144,1592
24,Order_No_2765,User_Id_265,Bike,3,Business,7,2,3:50:37 PM,7,2,...,4:35:17 PM,7,NaN,NaN,-1.267379,36.808159,-1.300921,36.828195,Rider_Id_856,969
25,Order_No_2868,User_Id_1880,Bike,3,Business,26,4,1:05:45 PM,26,4,...,1:58:20 PM,7,19.1,NaN,-1.257147,36.795063,-1.276875,36.830353,Rider_Id_415,2516
26,Order_No_2261,User_Id_970,Bike,3,Business,22,5,12:49:32 PM,22,5,...,1:54:53 PM,19,NaN,NaN,-1.257147,36.795063,-1.332558,36.740670,Rider_Id_798,3032
27,Order_No_8862,User_Id_2801,Bike,3,Business,23,3,4:45:05 PM,23,3,...,5:06:57 PM,5,24.3,NaN,-1.263706,36.805170,-1.259542,36.787118,Rider_Id_902,689
28,Order_No_2148,User_Id_2613,Bike,1,Personal,5,5,9:03:56 AM,5,5,...,9:43:25 AM,9,18.0,NaN,-1.306245,36.819298,-1.265531,36.828148,Rider_Id_726,931
29,Order_No_4206,User_Id_867,Bike,3,Business,3,3,2:20:16 PM,3,3,...,3:46:21 PM,10,28.4,NaN,-1.300406,36.829741,-1.299144,36.752880,Rider_Id_686,2134
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16171,Order_No_6137,User_Id_2195,Bike,3,Business,17,5,12:48:18 PM,17,5,...,1:37:57 PM,9,NaN,NaN,-1.265715,36.823815,-1.228911,36.881876,Rider_Id_907,1136
16172,Order_No_1410,User_Id_218,Bike,1,Personal,9,4,11:44:49 AM,9,4,...,12:21:12 PM,4,23.6,NaN,-1.291468,36.801289,-1.279526,36.826018,Rider_Id_882,1081
16173,Order_No_12385,User_Id_1850,Bike,3,Business,31,5,4:05:40 PM,31,5,...,4:51:05 PM,4,23.9,NaN,-1.257147,36.795063,-1.281666,36.822672,Rider_Id_491,593
16174,Order_No_26365,User_Id_2523,Bike,3,Business,15,3,5:00:43 PM,15,3,...,5:58:52 PM,28,25.1,NaN,-1.255189,36.782203,-1.407318,36.955635,Rider_Id_709,3118
16175,Order_No_17484,User_Id_928,Bike,3,Business,22,3,2:50:58 PM,22,3,...,4:44:48 PM,8,24.4,NaN,-1.287891,36.808925,-1.255189,36.782203,Rider_Id_448,1390
16176,Order_No_24677,User_Id_3326,Bike,3,Business,23,3,3:55:44 PM,23,3,...,4:16:35 PM,9,27.5,NaN,-1.304344,36.812274,-1.255189,36.782203,Rider_Id_31,1173
16177,Order_No_6901,User_Id_2956,Bike,3,Business,26,2,9:57:24 AM,26,2,...,10:33:09 AM,7,21.8,NaN,-1.225322,36.808550,-1.258414,36.804800,Rider_Id_318,1004
16178,Order_No_297,User_Id_2335,Bike,3,Business,14,3,2:44:47 PM,14,3,...,3:20:07 PM,21,25.6,NaN,-1.356237,36.904295,-1.255189,36.782203,Rider_Id_833,1841
16179,Order_No_3444,User_Id_1500,Bike,3,Business,24,4,11:00:59 AM,24,4,...,11:35:12 AM,11,24.4,NaN,-1.307787,36.844321,-1.257422,36.792707,Rider_Id_523,1183
16180,Order_No_18952,User_Id_635,Bike,3,Business,21,2,9:46:54 AM,21,2,...,10:33:18 AM,10,NaN,NaN,-1.308138,36.832977,-1.260234,36.799055,Rider_Id_403,256
16181,Order_No_7229,User_Id_3194,Bike,3,Business,26,3,10:16:03 AM,26,3,...,10:53:23 AM,8,23.9,NaN,-1.255189,36.782203,-1.285417,36.795115,Rider_Id_116,666
16182,Order_No_11816,User_Id_590,Bike,3,Business,22,5,10:42:08 AM,22,5,...,12:09:43 PM,24,28.3,NaN,-1.334305,36.732963,-1.229613,36.764195,Rider_Id_958,3196
16183,Order_No_9070,User_Id_3521,Bike,3,Business,9,2,1:10:00 PM,9,2,...,1:34:13 PM,2,26.8,NaN,-1.270135,36.807217,-1.269691,36.815190,Rider_Id_88,877
16184,Order_No_22213,User_Id_237,Bike,3,Business,7,5,3:55:48 PM,7,5,...,5:43:17 PM,5,23.2,NaN,-1.255189,36.782203,-1.281242,36.819241,Rider_Id_523,701
16185,Order_No_25722,User_Id_59,Bike,3,Business,21,3,10:14:54 AM,21,3,...,12:17:22 PM,7,22.2,NaN,-1.290894,36.822971,-1.255189,36.782203,Rider_Id_726,970
16186,Order_No_26544,User_Id_2145,Bike,3,Personal,12,3,12:13:10 PM,12,3,...,12:57:35 PM,6,19.3,NaN,-1.275285,36.802702,-1.292656,36.787318,Rider_Id_868,1235
16187,Order_No_12532,User_Id_478,Bike,3,Business,6,1,2:00:36 PM,6,1,...,3:02:58 PM,18,NaN,NaN,-1.217454,36.880191,-1.255189,36.782203,Rider_Id_691,1715
16188,Order_No_1396,User_Id_868,Bike,3,Business,4,2,11:04:42 AM,4,2,...,11:27:02 AM,3,18.9,NaN,-1.278385,36.816344,-1.265715,36.823815,Rider_Id_676,276
16189,Order_No_16829,User_Id_391,Bike,3,Business,12,3,10:19:41 AM,12,3,...,11:23:29 AM,5,19.5,NaN,-1.300921,36.828195,-1.286745,36.825902,Rider_Id_365,1368
16190,Order_No_16563,User_Id_3432,Bike,3,Business,25,1,5:13:44 PM,25,1,...,6:31:53 PM,13,27.5,NaN,-1.267259,36.800025,-1.338217,36.784572,Rider_Id_459,2364
16191,Order_No_16262,User_Id_1231,Bike,3,Business,1,4,2:09:37 PM,1,4,...,3:39:55 PM,13,NaN,NaN,-1.282142,36.816156,-1.215601,36.891686,Rider_Id_736,2807
16192,Order_No_11670,User_Id_1146,Bike,3,Business,23,2,12:41:17 PM,23,2,...,1:21:22 PM,7,NaN,NaN,-1.316711,36.830156,-1.308327,36.849476,Rider_Id_571,971
16193,Order_No_4988,User_Id_875,Bike,1,Personal,12,6,4:48:16 PM,12,6,...,5:56:53 PM,10,23.5,NaN,-1.286568,36.825335,-1.300106,36.758455,Rider_Id_103,1771
16194,Order_No_865,User_Id_1245,Bike,3,Business,15,1,5:02:09 PM,15,1,...,5:53:33 PM,16,NaN,NaN,-1.260234,36.799055,-1.319862,36.711032,Rider_Id_177,2298
16195,Order_No_9932,User_Id_3582,Bike,3,Business,2,6,1:08:34 PM,2,6,...,2:33:21 PM,17,29.0,NaN,-1.238406,36.871870,-1.276549,36.766981,Rider_Id_34,2325
16196,Order_No_8834,User_Id_2001,Bike,3,Personal,20,3,3:54:38 PM,20,3,...,4:20:17 PM,3,28.6,NaN,-1.258414,36.804800,-1.275285,36.802702,Rider_Id_953,9
16197,Order_No_22892,User_Id_1796,Bike,3,Business,13,6,10:13:34 AM,13,6,...,10:46:17 AM,7,26.0,NaN,-1.307143,36.825009,-1.331619,36.847976,Rider_Id_155,770
16198,Order_No_2831,User_Id_2956,Bike,3,Business,7,4,5:06:16 PM,7,4,...,6:40:05 PM,20,29.2,NaN,-1.286018,36.897534,-1.258414,36.804800,Rider_Id_697,2953
16199,Order_No_6174,User_Id_2524,Bike,1,Personal,4,3,9:31:39 AM,4,3,...,10:08:15 AM,13,15.0,NaN,-1.250030,36.874167,-1.279209,36.794872,Rider_Id_347,1380
16200,Order_No_9836,User_Id_718,Bike,3,Business,26,2,2:19:47 PM,26,2,...,3:17:23 PM,12,30.9,NaN,-1.255189,36.782203,-1.320157,36.830887,Rider_Id_177,2128

# functions for pre-processing

In [181]:
def time_from_midnight_in_seconds(dataset, column):
    dataset[column] = pd.to_datetime(dataset[column])
    return (dataset[column] - pd.to_datetime(pd.to_datetime('today').date())).astype('timedelta64[s]')

In [182]:
def delta_time(dataset, higher_time, lower_time):
    return dataset[higher_time] - dataset[lower_time]

In [183]:
def average(list_data):
    return sum(list_data)/len(list_data)+1

In [184]:
def time_to_day_part(time):
    hours = time/3600
    if hours < 6:
        return 'night'
    if hours < 12:
        return 'morning'
    if hours < 18:
        return 'afternoon'
    else:
        return 'evening'

In [185]:
def calculate_bearing(lat1, lng1, lat2, lng2):
    lat1 = np.deg2rad(lat1)
    lat2 = np.deg2rad(lat2)
    diffLong = np.deg2rad(lng2 - lng1)
    x = np.sin(diffLong) * np.cos(lat2)
    y = np.cos(lat1) * np.sin(lat2) - (np.sin(lat1)
                                       * np.cos(lat2) * np.cos(diffLong))
    initial_bearing = np.arctan2(x, y)
     # Now we have the initial bearing but math.atan2 return values
    # from -180° to + 180° which is not what we want for a compass bearing
    # The solution is to normalize the initial bearing as shown below
    initial_bearing = np.rad2deg(initial_bearing)
    compass_bearing = (initial_bearing + 360) % 360
    return compass_bearing

In [186]:
traindata.head()

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),...,Arrival at Destination - Time,Distance (KM),Temperature,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id,Time from Pickup to Arrival
0,Order_No_4211,User_Id_633,Bike,3,Business,9,5,9:35:46 AM,9,5,...,10:39:55 AM,4,20.4,NaN,-1.317755,36.830370,-1.300406,36.829741,Rider_Id_432,745
1,Order_No_25375,User_Id_2285,Bike,3,Personal,12,5,11:16:16 AM,12,5,...,12:17:22 PM,16,26.4,NaN,-1.351453,36.899315,-1.295004,36.814358,Rider_Id_856,1993
2,Order_No_1899,User_Id_265,Bike,3,Business,30,2,12:39:25 PM,30,2,...,1:00:38 PM,3,NaN,NaN,-1.308284,36.843419,-1.300921,36.828195,Rider_Id_155,455
3,Order_No_9336,User_Id_1402,Bike,3,Business,15,5,9:25:34 AM,15,5,...,10:05:27 AM,9,19.2,NaN,-1.281301,36.832396,-1.257147,36.795063,Rider_Id_855,1341
4,Order_No_27883,User_Id_1737,Bike,1,Personal,13,1,9:55:18 AM,13,1,...,10:25:37 AM,9,15.4,NaN,-1.266597,36.792118,-1.295041,36.809817,Rider_Id_770,1214

In [187]:
# converting time in seconds from midnight for train data
traindata['Placement - Time'] = time_from_midnight_in_seconds(traindata, 'Placement - Time')
traindata['Confirmation - Time'] = time_from_midnight_in_seconds(traindata, 'Confirmation - Time')
traindata['Pickup - Time'] = time_from_midnight_in_seconds(traindata, 'Pickup - Time')
traindata['Arrival at Pickup - Time'] = time_from_midnight_in_seconds(traindata, 'Arrival at Pickup - Time')
traindata['Arrival at Destination - Time'] = time_from_midnight_in_seconds(traindata, 'Arrival at Destination - Time')

In [188]:
traindata.head()

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),...,Arrival at Destination - Time,Distance (KM),Temperature,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id,Time from Pickup to Arrival
0,Order_No_4211,User_Id_633,Bike,3,Business,9,5,34546.0,9,5,...,38395.0,4,20.4,NaN,-1.317755,36.830370,-1.300406,36.829741,Rider_Id_432,745
1,Order_No_25375,User_Id_2285,Bike,3,Personal,12,5,40576.0,12,5,...,44242.0,16,26.4,NaN,-1.351453,36.899315,-1.295004,36.814358,Rider_Id_856,1993
2,Order_No_1899,User_Id_265,Bike,3,Business,30,2,45565.0,30,2,...,46838.0,3,NaN,NaN,-1.308284,36.843419,-1.300921,36.828195,Rider_Id_155,455
3,Order_No_9336,User_Id_1402,Bike,3,Business,15,5,33934.0,15,5,...,36327.0,9,19.2,NaN,-1.281301,36.832396,-1.257147,36.795063,Rider_Id_855,1341
4,Order_No_27883,User_Id_1737,Bike,1,Personal,13,1,35718.0,13,1,...,37537.0,9,15.4,NaN,-1.266597,36.792118,-1.295041,36.809817,Rider_Id_770,1214

In [189]:
# converting time in seconds from midnight for test data
testdata['Placement - Time'] = time_from_midnight_in_seconds(testdata, 'Placement - Time')
testdata['Confirmation - Time'] = time_from_midnight_in_seconds(testdata, 'Confirmation - Time')
testdata['Pickup - Time'] = time_from_midnight_in_seconds(testdata, 'Pickup - Time')
testdata['Arrival at Pickup - Time'] = time_from_midnight_in_seconds(testdata, 'Arrival at Pickup - Time')

In [190]:
testdata.head()

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),...,Arrival at Destination - Time,Distance (KM),Temperature,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id,Time from Pickup to Arrival
0,Order_No_5073,User_Id_2200,Bike,3,Business,25,4,58736.0,25,4,...,6:22:17 PM,8,NaN,NaN,-1.301446,36.766138,-1.290894,36.822971,Rider_Id_436,1861
1,Order_No_16569,User_Id_972,Bike,3,Business,3,1,44896.0,3,1,...,2:34:37 PM,15,20.7,NaN,-1.286203,36.815297,-1.308100,36.699964,Rider_Id_272,5216
2,Order_No_17965,User_Id_2587,Bike,3,Business,5,5,60648.0,5,5,...,5:59:46 PM,22,26.2,NaN,-1.288780,36.816831,-1.316554,36.700067,Rider_Id_456,1997
3,Order_No_20647,User_Id_2483,Bike,1,Business,16,1,45206.0,16,1,...,1:53:55 PM,12,19.4,NaN,-1.255956,36.789867,-1.284269,36.739776,Rider_Id_536,3949
4,Order_No_23907,User_Id_1502,Bike,3,Business,19,1,34397.0,19,1,...,10:13:15 AM,13,19.4,NaN,-1.223212,36.893255,-1.275285,36.802702,Rider_Id_447,2107

In [191]:
# calculating delta_time for train data
delta_confirm_place_train = delta_time(traindata, 'Confirmation - Time', 'Placement - Time')
delta_pick_arr_confirm_train = delta_time(traindata, 'Arrival at Pickup - Time', 'Confirmation - Time')
delta_pickup_confirm_train = delta_time(traindata, 'Pickup - Time', 'Arrival at Pickup - Time')
delta_arrival_pickup_train = delta_time(traindata, 'Arrival at Destination - Time', 'Pickup - Time')
delta_placement_arrival_train = delta_time(traindata, 'Arrival at Destination - Time', 'Placement - Time')

In [192]:
traindata.head()

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),...,Arrival at Destination - Time,Distance (KM),Temperature,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id,Time from Pickup to Arrival
0,Order_No_4211,User_Id_633,Bike,3,Business,9,5,34546.0,9,5,...,38395.0,4,20.4,NaN,-1.317755,36.830370,-1.300406,36.829741,Rider_Id_432,745
1,Order_No_25375,User_Id_2285,Bike,3,Personal,12,5,40576.0,12,5,...,44242.0,16,26.4,NaN,-1.351453,36.899315,-1.295004,36.814358,Rider_Id_856,1993
2,Order_No_1899,User_Id_265,Bike,3,Business,30,2,45565.0,30,2,...,46838.0,3,NaN,NaN,-1.308284,36.843419,-1.300921,36.828195,Rider_Id_155,455
3,Order_No_9336,User_Id_1402,Bike,3,Business,15,5,33934.0,15,5,...,36327.0,9,19.2,NaN,-1.281301,36.832396,-1.257147,36.795063,Rider_Id_855,1341
4,Order_No_27883,User_Id_1737,Bike,1,Personal,13,1,35718.0,13,1,...,37537.0,9,15.4,NaN,-1.266597,36.792118,-1.295041,36.809817,Rider_Id_770,1214

In [193]:
# calculating delta_time for test data
delta_confirm_place_test = delta_time(testdata, 'Confirmation - Time', 'Placement - Time')
delta_pick_arr_confirm_test = delta_time(testdata, 'Arrival at Pickup - Time', 'Confirmation - Time')
delta_pickup_confirm_test = delta_time(testdata, 'Pickup - Time', 'Arrival at Pickup - Time')

In [194]:
# merging riders data and train data
ridertrain = traindata.merge(riders, on='Rider Id')
ridertest = testdata.merge(riders, on='Rider Id')

In [195]:
ridertrain.head()

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),...,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id,Time from Pickup to Arrival,No_Of_Orders,Age,Average_Rating,No_of_Ratings
0,Order_No_4211,User_Id_633,Bike,3,Business,9,5,34546.0,9,5,...,-1.317755,36.830370,-1.300406,36.829741,Rider_Id_432,745,1637,1309,13.8,549
1,Order_No_27440,User_Id_2642,Bike,3,Personal,18,5,56477.0,18,5,...,-1.326774,36.787807,-1.356237,36.904295,Rider_Id_432,2886,1637,1309,13.8,549
2,Order_No_14170,User_Id_3339,Bike,3,Business,31,5,46301.0,31,5,...,-1.255189,36.782203,-1.273412,36.818206,Rider_Id_432,2615,1637,1309,13.8,549
3,Order_No_21727,User_Id_3523,Bike,3,Personal,2,2,25930.0,2,2,...,-1.290315,36.757377,-1.223520,36.802061,Rider_Id_432,2986,1637,1309,13.8,549
4,Order_No_8301,User_Id_87,Bike,2,Personal,22,2,38458.0,22,2,...,-1.273524,36.799220,-1.300431,36.752427,Rider_Id_432,1602,1637,1309,13.8,549

In [196]:
traindata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21201 entries, 0 to 21200
Data columns (total 29 columns):
Order No                                     21201 non-null object
User Id                                      21201 non-null object
Vehicle Type                                 21201 non-null object
Platform Type                                21201 non-null int64
Personal or Business                         21201 non-null object
Placement - Day of Month                     21201 non-null int64
Placement - Weekday (Mo = 1)                 21201 non-null int64
Placement - Time                             21201 non-null float64
Confirmation - Day of Month                  21201 non-null int64
Confirmation - Weekday (Mo = 1)              21201 non-null int64
Confirmation - Time                          21201 non-null float64
Arrival at Pickup - Day of Month             21201 non-null int64
Arrival at Pickup - Weekday (Mo = 1)         21201 non-null int64
Arrival at Pickup - Time                     21201 non-null float64
Pickup - Day of Month                        21201 non-null int64
Pickup - Weekday (Mo = 1)                    21201 non-null int64
Pickup - Time                                21201 non-null float64
Arrival at Destination - Day of Month        21201 non-null int64
Arrival at Destination - Weekday (Mo = 1)    21201 non-null int64
Arrival at Destination - Time                21201 non-null float64
Distance (KM)                                21201 non-null int64
Temperature                                  16835 non-null float64
Precipitation in millimeters                 552 non-null float64
Pickup Lat                                   21201 non-null float64
Pickup Long                                  21201 non-null float64
Destination Lat                              21201 non-null float64
Destination Long                             21201 non-null float64
Rider Id                                     21201 non-null object
Time from Pickup to Arrival                  21201 non-null int64
dtypes: float64(11), int64(13), object(5)
memory usage: 4.7+ MB

In [197]:
# Treat Outliers in Training Data
ridertrain = ridertrain[ridertrain['Placement - Weekday (Mo = 1)'] == ridertrain['Confirmation - Weekday (Mo = 1)']]
ridertrain = ridertrain[ridertrain['Placement - Day of Month'] == ridertrain['Confirmation - Day of Month']]

In [198]:
# input missing values for Temperature  for train and test data
ridertrain['Temperature'].fillna(ridertrain['Temperature'].mean(), inplace=True)
ridertest['Temperature'].fillna(ridertest['Temperature'].mean(), inplace=True)

# pre-processing

In [199]:
ridertrain.head()

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),...,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id,Time from Pickup to Arrival,No_Of_Orders,Age,Average_Rating,No_of_Ratings
0,Order_No_4211,User_Id_633,Bike,3,Business,9,5,34546.0,9,5,...,-1.317755,36.830370,-1.300406,36.829741,Rider_Id_432,745,1637,1309,13.8,549
1,Order_No_27440,User_Id_2642,Bike,3,Personal,18,5,56477.0,18,5,...,-1.326774,36.787807,-1.356237,36.904295,Rider_Id_432,2886,1637,1309,13.8,549
2,Order_No_14170,User_Id_3339,Bike,3,Business,31,5,46301.0,31,5,...,-1.255189,36.782203,-1.273412,36.818206,Rider_Id_432,2615,1637,1309,13.8,549
3,Order_No_21727,User_Id_3523,Bike,3,Personal,2,2,25930.0,2,2,...,-1.290315,36.757377,-1.223520,36.802061,Rider_Id_432,2986,1637,1309,13.8,549
4,Order_No_8301,User_Id_87,Bike,2,Personal,22,2,38458.0,22,2,...,-1.273524,36.799220,-1.300431,36.752427,Rider_Id_432,1602,1637,1309,13.8,549

In [200]:
# I will later use frequency encoding to handle UserID and Rider ID but let me remove it now

In [201]:
ridertrain.drop(columns=['Confirmation - Day of Month', 'Confirmation - Weekday (Mo = 1)',
                         'Arrival at Pickup - Day of Month','Arrival at Pickup - Weekday (Mo = 1)',
                         'Pickup - Day of Month', 'Pickup - Weekday (Mo = 1)','Arrival at Destination - Day of Month',
                         'Arrival at Destination - Weekday (Mo = 1)','Vehicle Type', 'Order No','Platform Type', 'User Id', 'Rider Id',
                         'Personal or Business','Arrival at Destination - Time',
                         'Precipitation in millimeters'], inplace=True)

In [202]:
ridertest.head()

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),...,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id,Time from Pickup to Arrival,No_Of_Orders,Age,Average_Rating,No_of_Ratings
0,Order_No_5073,User_Id_2200,Bike,3,Business,25,4,58736.0,25,4,...,-1.301446,36.766138,-1.290894,36.822971,Rider_Id_436,1861,1202,576,13.4,105
1,Order_No_12353,User_Id_3080,Bike,3,Business,13,3,54043.0,13,3,...,-1.255189,36.782203,-1.266845,36.794064,Rider_Id_436,893,1202,576,13.4,105
2,Order_No_6354,User_Id_633,Bike,3,Business,12,2,55914.0,12,2,...,-1.299144,36.752880,-1.300406,36.829741,Rider_Id_436,389,1202,576,13.4,105
3,Order_No_19613,User_Id_393,Bike,3,Business,22,3,38206.0,22,3,...,-1.322800,36.830644,-1.263818,36.793006,Rider_Id_436,230,1202,576,13.4,105
4,Order_No_13334,User_Id_1882,Bike,3,Business,19,2,57191.0,19,2,...,-1.295688,36.786184,-1.259102,36.800577,Rider_Id_436,4408,1202,576,13.4,105

In [203]:
ridertest.drop(['Confirmation - Day of Month', 'Confirmation - Weekday (Mo = 1)',
                'Arrival at Pickup - Day of Month', 'Arrival at Pickup - Weekday (Mo = 1)',
                'Pickup - Day of Month', 'Pickup - Weekday (Mo = 1)','Vehicle Type','Platform Type','User Id', 'Rider Id',
                'Personal or Business','Arrival at Destination - Time',
                'Precipitation in millimeters'], axis=1, inplace=True)

In [204]:
ridertrain.head()

,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Time,Arrival at Pickup - Time,Pickup - Time,Distance (KM),Temperature,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Time from Pickup to Arrival,No_Of_Orders,Age,Average_Rating,No_of_Ratings
0,9,5,34546.0,34810.0,36287.0,37650.0,4,20.4,-1.317755,36.830370,-1.300406,36.829741,745,1637,1309,13.8,549
1,18,5,56477.0,56490.0,58036.0,58417.0,20,24.5,-1.326774,36.787807,-1.356237,36.904295,2886,1637,1309,13.8,549
2,31,5,46301.0,47569.0,48002.0,48788.0,6,24.7,-1.255189,36.782203,-1.273412,36.818206,2615,1637,1309,13.8,549
3,2,2,25930.0,25949.0,27324.0,27526.0,18,15.2,-1.290315,36.757377,-1.223520,36.802061,2986,1637,1309,13.8,549
4,22,2,38458.0,38544.0,39360.0,39580.0,7,19.2,-1.273524,36.799220,-1.300431,36.752427,1602,1637,1309,13.8,549

In [205]:
ridertrain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21199 entries, 0 to 21200
Data columns (total 17 columns):
Placement - Day of Month        21199 non-null int64
Placement - Weekday (Mo = 1)    21199 non-null int64
Placement - Time                21199 non-null float64
Confirmation - Time             21199 non-null float64
Arrival at Pickup - Time        21199 non-null float64
Pickup - Time                   21199 non-null float64
Distance (KM)                   21199 non-null int64
Temperature                     21199 non-null float64
Pickup Lat                      21199 non-null float64
Pickup Long                     21199 non-null float64
Destination Lat                 21199 non-null float64
Destination Long                21199 non-null float64
Time from Pickup to Arrival     21199 non-null int64
No_Of_Orders                    21199 non-null int64
Age                             21199 non-null int64
Average_Rating                  21199 non-null float64
No_of_Ratings                   21199 non-null int64
dtypes: float64(10), int64(7)
memory usage: 2.9 MB

# Model Training

In [206]:
#Importing Neccessary Libraries
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import GridSearchCV

In [207]:
testdata = traindata[5000:].reset_index(inplace = False)
testdata.drop(columns='index', inplace=True)

In [208]:
# Splitting
Y = ridertrain['Time from Pickup to Arrival']
X = ridertrain.drop(columns='Time from Pickup to Arrival')
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [209]:
rfr = RandomForestRegressor(n_estimators=180, max_depth=110,max_features=3, min_samples_leaf=3,min_samples_split=8,random_state=0)

In [210]:
rfr.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=110,
                      max_features=3, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=3, min_samples_split=8,
                      min_weight_fraction_leaf=0.0, n_estimators=180,
                      n_jobs=None, oob_score=False, random_state=0, verbose=0,
                      warm_start=False)

In [211]:
#Looking at the importance
features = pd.DataFrame()
features['feature'] = ridertrain.columns
features['importance'] = rfr.feature_importances_
features.sort_values(by=['importance'], ascending=True, inplace=True)
features.set_index('feature', inplace=True)
features.plot(kind='barh', figsize=(25,25))

In [ ]:
# grid_param = {'n_estimators': [150, 160, 170, 180],
#               'max_depth': [80, 90, 100, 110],
#               'max_features': [2, 3],
#               'min_samples_leaf': [3, 4, 5],
#               'min_samples_split': [8, 10, 12],
#              }grid_param = {'n_estimators': [150, 160, 170, 180],
#               'max_depth': [80, 90, 100, 110],
#               'max_features': [2, 3],
#               'min_samples_leaf': [3, 4, 5],
#               'min_samples_split': [8, 10, 12],
#              }

In [ ]:
# gscv = GridSearchCV(
#     estimator=RandomForestRegressor(),
#     param_grid=grid_param,
#     scoring='neg_mean_absolute_error',
#     cv=4,
#     n_jobs=-1)

In [ ]:
# gscv.fit(X_train, y_train)

In [ ]:
# best_parameters = gscv.best_params_
# best_parameters

In [213]:
y_pred = rfr.predict(X_test)

In [217]:
curv = pd.DataFrame({'actual':y_test,'pr':y_pred})
curv

       actual           pr
12067    1802  2036.184963
7658      621  1965.021673
15522    1771  2013.538181
19473    2025  2420.416886
12713      23  1495.303857
8586     1086  1363.940415
4414     3197  1467.890328
15781    1636   900.355788
7028      744  1261.541896
1620     1854  1691.666028
7211      888  1203.539905
7585     2200  2322.571766
9762       63  1784.079184
3516      864  1513.786746
11723    1464  1779.704417
7744     1488  1796.100070
10572     925  1206.710747
8843      507   857.077501
18698    1529  1708.137976
9760     2255  2264.408835
723      2275  1907.855618
13136     834  1185.929392
9285     1223  1795.302777
3502     1245  2212.633685
13763     362  1174.058437
15340    2676  2393.089870
2669      939  1212.585068
6367     4262  1548.245801
9553     3058  1265.496970
19071    1996  1038.921695
...       ...          ...
1336      704  1045.488096
19403     803  1194.466507
14899    2175  1770.628368
11070     947   984.256550
2164      559   536.408435
12577    1331  1164.943911
1509     2330  1092.576712
18251     928   994.885138
9410     1823  1654.692044
5819      601   778.755666
1383     3587  2898.838091
7619     2796  2674.075401
9948     3293  1766.321627
14578    2187   607.377056
1644     1351  1283.397337
20470    1320  1798.549169
14990    1343  1946.447977
17403    1306  1606.390513
13114    2231  2043.361764
7576     2919  1640.598979
4832      570   664.593066
4750     1703  1156.121131
13544    1961   953.973203
4823     1533  2452.453606
9950      676   915.761906
19790    2035  2221.906886
9545     1960  1110.737406
4254     1006  1403.531635
20593    1700  1815.520403
1889      780  1025.580186

[4240 rows x 2 columns]

In [214]:
mse = mean_squared_error(y_test,y_pred)
mse

603472.4310851599

In [215]:
rmse = mse**1/2
rmse

301736.21554257994